@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container img {
    width: auto;
    height: auto;
    max-width: 140px; /* Maximum width */
    max-height: 70px; /* Maximum height */
  }
  